# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.iml
/common/module_common.xml
/common/common-api/module_common-api.xml
/common/common-base-service/module_common-base-service.xml
/common/common-core-utils/module_common-core-utils.xml
/shop-core/module_shop-core.xml
common/common-api/user-auth-api/target/
common/common-core-utils/target/
shop-core/target/
user-auth/target/
common/common-base-service/target/
